<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>uni00A0</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>uni00B5</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>uni0122</string>
    <string>uni0123</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>dotlessi</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>uni0136</string>
    <string>uni0137</string>
    <string>kgreenlandic</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>uni013B</string>
    <string>uni013C</string>
    <string>Lcaron</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>uni0145</string>
    <string>uni0146</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Eng</string>
    <string>eng</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>OE</string>
    <string>oe</string>
    <string>Racute</string>
    <string>racute</string>
    <string>uni0156</string>
    <string>uni0157</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Tbar</string>
    <string>tbar</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>longs</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni0237</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>ogonek</string>
    <string>hungarumlaut</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>uni0302</string>
    <string>tildecomb</string>
    <string>uni0308</string>
    <string>uni030A</string>
    <string>uni030C</string>
    <string>uni0327</string>
    <string>uni0C80</string>
    <string>uni0C81</string>
    <string>kn_am</string>
    <string>kn_ah</string>
    <string>uni0C84</string>
    <string>kn_a</string>
    <string>kn_uniA733</string>
    <string>kn_i</string>
    <string>kn_uniA987</string>
    <string>kn_u</string>
    <string>kn_uni1026</string>
    <string>kn_r_ext</string>
    <string>uni0C8C</string>
    <string>kn_e</string>
    <string>kn_ee</string>
    <string>kn_uniA98D</string>
    <string>kn_o</string>
    <string>kn_uniA74F</string>
    <string>kn_uniA737</string>
    <string>kn_k</string>
    <string>kn_kh</string>
    <string>kn_g</string>
    <string>kn_gh</string>
    <string>kn_uni06AD</string>
    <string>kn_c</string>
    <string>kn_ch</string>
    <string>kn_j</string>
    <string>kn_jh</string>
    <string>kn_ny</string>
    <string>kn_tt</string>
    <string>kn_tth</string>
    <string>kn_dd</string>
    <string>kn_ddh</string>
    <string>kn_nn</string>
    <string>kn_t</string>
    <string>kn_th</string>
    <string>kn_d</string>
    <string>kn_dh</string>
    <string>kn_n</string>
    <string>kn_p</string>
    <string>kn_ph</string>
    <string>kn_b</string>
    <string>kn_bh</string>
    <string>kn_m</string>
    <string>kn_y</string>
    <string>kn_r</string>
    <string>uni0CB1</string>
    <string>kn_l</string>
    <string>kn_ll</string>
    <string>kn_v</string>
    <string>kn_sh</string>
    <string>kn_ss</string>
    <string>kn_s</string>
    <string>kn_h</string>
    <string>uni0CBC</string>
    <string>uni0CBD</string>
    <string>kn_uniA9A9_uniA733</string>
    <string>kn_uniA9A9_i</string>
    <string>kn_uniA9A9_uniA987</string>
    <string>kn_uniA9A9_u</string>
    <string>kn_uniA9A9_uni1026</string>
    <string>kn_uniA9A9_r</string>
    <string>uni0CC4</string>
    <string>kn_uniA9A9_e</string>
    <string>kn_uniA9A9_ee</string>
    <string>kn_uniA9A9_uniA98D</string>
    <string>kn_uniA9A9_o</string>
    <string>kn_uniA9A9_uniA74F</string>
    <string>kn_uniA9A9_uniA737</string>
    <string>kn_u11235</string>
    <string>kn_dherge_e</string>
    <string>kn_dherge_uniA98D</string>
    <string>uni0CDD</string>
    <string>uni0CDE</string>
    <string>kn_rr_ext</string>
    <string>uni0CE1</string>
    <string>uni0CE2</string>
    <string>uni0CE3</string>
    <string>kn_0</string>
    <string>kn_1</string>
    <string>kn_2</string>
    <string>kn_3</string>
    <string>kn_4</string>
    <string>kn_5</string>
    <string>kn_6</string>
    <string>kn_7</string>
    <string>kn_8</string>
    <string>kn_9</string>
    <string>uni0CF1</string>
    <string>uni0CF2</string>
    <string>uni0CF3</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>uni20B9</string>
    <string>trademark</string>
    <string>infinity</string>
    <string>uni25CC</string>
    <string>dotabove</string>
    <string>ringabove</string>
    <string>kn_Sh_v_r_uniA987</string>
    <string>kn_arka_ottu</string>
    <string>kn_b_uniA733</string>
    <string>kn_b_uniA737</string>
    <string>kn_b_e</string>
    <string>kn_b_i</string>
    <string>kn_b_o</string>
    <string>kn_b_ottu</string>
    <string>kn_b_ottu2</string>
    <string>kn_b_u</string>
    <string>kn_b_uni1026</string>
    <string>kn_b_v</string>
    <string>kn_bh_uniA733</string>
    <string>kn_bh_uniA737</string>
    <string>kn_bh_e</string>
    <string>kn_bh_i</string>
    <string>kn_bh_o</string>
    <string>kn_bh_ottu</string>
    <string>kn_bh_ottu2</string>
    <string>kn_bh_u</string>
    <string>kn_bh_uni1026</string>
    <string>kn_bh_v</string>
    <string>kn_c_uniA733</string>
    <string>kn_c_uniA737</string>
    <string>kn_c_e</string>
    <string>kn_c_i</string>
    <string>kn_c_o</string>
    <string>kn_c_ottu</string>
    <string>kn_c_ottu2</string>
    <string>kn_c_u</string>
    <string>kn_c_uni1026</string>
    <string>kn_c_v</string>
    <string>kn_ch_uniA733</string>
    <string>kn_ch_uniA737</string>
    <string>kn_ch_e</string>
    <string>kn_ch_i</string>
    <string>kn_ch_o</string>
    <string>kn_ch_ottu</string>
    <string>kn_ch_ottu2</string>
    <string>kn_ch_u</string>
    <string>kn_ch_uni1026</string>
    <string>kn_ch_v</string>
    <string>kn_d_uniA733</string>
    <string>kn_d_uniA737</string>
    <string>kn_d_e</string>
    <string>kn_d_i</string>
    <string>kn_d_o</string>
    <string>kn_d_ottu</string>
    <string>kn_d_ottu2</string>
    <string>kn_d_u</string>
    <string>kn_d_uni1026</string>
    <string>kn_d_v</string>
    <string>kn_dd_uniA733</string>
    <string>kn_dd_uniA737</string>
    <string>kn_dd_e</string>
    <string>kn_dd_i</string>
    <string>kn_dd_o</string>
    <string>kn_dd_ottu</string>
    <string>kn_dd_ottu2</string>
    <string>kn_dd_u</string>
    <string>kn_dd_uni1026</string>
    <string>kn_dd_v</string>
    <string>kn_ddh_uniA733</string>
    <string>kn_ddh_uniA737</string>
    <string>kn_ddh_e</string>
    <string>kn_ddh_i</string>
    <string>kn_ddh_o</string>
    <string>kn_ddh_ottu</string>
    <string>kn_ddh_ottu2</string>
    <string>kn_ddh_u</string>
    <string>kn_ddh_uni1026</string>
    <string>kn_ddh_v</string>
    <string>kn_dh_uniA733</string>
    <string>kn_dh_uniA737</string>
    <string>kn_dh_e</string>
    <string>kn_dh_i</string>
    <string>kn_dh_o</string>
    <string>kn_dh_ottu</string>
    <string>kn_dh_ottu2</string>
    <string>kn_dh_u</string>
    <string>kn_dh_uni1026</string>
    <string>kn_dh_v</string>
    <string>kn_g_uniA733</string>
    <string>kn_g_uniA737</string>
    <string>kn_g_e</string>
    <string>kn_g_i</string>
    <string>kn_g_o</string>
    <string>kn_g_ottu</string>
    <string>kn_g_ottu2</string>
    <string>kn_g_u</string>
    <string>kn_g_uni1026</string>
    <string>kn_g_v</string>
    <string>kn_gh_uniA733</string>
    <string>kn_gh_uniA737</string>
    <string>kn_gh_e</string>
    <string>kn_gh_i</string>
    <string>kn_gh_o</string>
    <string>kn_gh_ottu</string>
    <string>kn_gh_ottu2</string>
    <string>kn_gh_u</string>
    <string>kn_gh_uni1026</string>
    <string>kn_gh_v</string>
    <string>kn_h_uniA733</string>
    <string>kn_h_uniA737</string>
    <string>kn_h_e</string>
    <string>kn_h_i</string>
    <string>kn_h_o</string>
    <string>kn_h_ottu</string>
    <string>kn_h_ottu2</string>
    <string>kn_h_u</string>
    <string>kn_h_uni1026</string>
    <string>kn_h_v</string>
    <string>kn_j_uniA733</string>
    <string>kn_j_uniA737</string>
    <string>kn_j_e</string>
    <string>kn_j_i</string>
    <string>kn_j_ny</string>
    <string>kn_j_ny_uniA733</string>
    <string>kn_j_ny_uniA737</string>
    <string>kn_j_ny_e</string>
    <string>kn_j_ny_i</string>
    <string>kn_j_ny_o</string>
    <string>kn_j_ny_u</string>
    <string>kn_j_ny_uni1026</string>
    <string>kn_j_ny_v</string>
    <string>kn_j_o</string>
    <string>kn_j_ottu</string>
    <string>kn_j_ottu2</string>
    <string>kn_j_u</string>
    <string>kn_j_uni1026</string>
    <string>kn_j_v</string>
    <string>kn_jh_uniA733</string>
    <string>kn_jh_uniA737</string>
    <string>kn_jh_e</string>
    <string>kn_jh_i</string>
    <string>kn_jh_o</string>
    <string>kn_jh_ottu</string>
    <string>kn_jh_ottu2</string>
    <string>kn_jh_u</string>
    <string>kn_jh_uni1026</string>
    <string>kn_jh_v</string>
    <string>kn_k_uniA733</string>
    <string>kn_k_uniA737</string>
    <string>kn_k_e</string>
    <string>kn_k_i</string>
    <string>kn_k_o</string>
    <string>kn_k_ottu</string>
    <string>kn_k_ottu2</string>
    <string>kn_k_ss</string>
    <string>kn_k_ss_uniA733</string>
    <string>kn_k_ss_uniA737</string>
    <string>kn_k_ss_e</string>
    <string>kn_k_ss_i</string>
    <string>kn_k_ss_o</string>
    <string>kn_k_ss_u</string>
    <string>kn_k_ss_uni1026</string>
    <string>kn_k_ss_v</string>
    <string>kn_k_u</string>
    <string>kn_k_uni1026</string>
    <string>kn_k_v</string>
    <string>kn_kh_uniA733</string>
    <string>kn_kh_uniA737</string>
    <string>kn_kh_e</string>
    <string>kn_kh_i</string>
    <string>kn_kh_o</string>
    <string>kn_kh_ottu</string>
    <string>kn_kh_ottu2</string>
    <string>kn_kh_u</string>
    <string>kn_kh_uni1026</string>
    <string>kn_kh_v</string>
    <string>kn_l_uniA733</string>
    <string>kn_l_uniA737</string>
    <string>kn_l_e</string>
    <string>kn_l_i</string>
    <string>kn_l_o</string>
    <string>kn_l_ottu</string>
    <string>kn_l_ottu2</string>
    <string>kn_l_u</string>
    <string>kn_l_uni1026</string>
    <string>kn_l_v</string>
    <string>kn_ll_uniA733</string>
    <string>kn_ll_uniA737</string>
    <string>kn_ll_e</string>
    <string>kn_ll_i</string>
    <string>kn_ll_o</string>
    <string>kn_ll_ottu</string>
    <string>kn_ll_ottu2</string>
    <string>kn_ll_u</string>
    <string>kn_ll_uni1026</string>
    <string>kn_ll_v</string>
    <string>kn_m_uniA733</string>
    <string>kn_m_uniA737</string>
    <string>kn_m_e</string>
    <string>kn_m_i</string>
    <string>kn_m_o</string>
    <string>kn_m_ottu</string>
    <string>kn_m_ottu2</string>
    <string>kn_m_u</string>
    <string>kn_m_uni1026</string>
    <string>kn_m_v</string>
    <string>kn_n_uniA733</string>
    <string>kn_n_uniA737</string>
    <string>kn_n_e</string>
    <string>kn_n_i</string>
    <string>kn_n_o</string>
    <string>kn_n_ottu</string>
    <string>kn_n_ottu2</string>
    <string>kn_n_u</string>
    <string>kn_n_uni1026</string>
    <string>kn_n_v</string>
    <string>kn_uni06AD_uniA733</string>
    <string>kn_uni06AD_uniA737</string>
    <string>kn_uni06AD_e</string>
    <string>kn_uni06AD_i</string>
    <string>kn_uni06AD_o</string>
    <string>kn_uni06AD_ottu</string>
    <string>kn_uni06AD_ottu2</string>
    <string>kn_uni06AD_u</string>
    <string>kn_uni06AD_uni1026</string>
    <string>kn_uni06AD_v</string>
    <string>kn_nn_uniA733</string>
    <string>kn_nn_uniA737</string>
    <string>kn_nn_e</string>
    <string>kn_nn_i</string>
    <string>kn_nn_o</string>
    <string>kn_nn_ottu</string>
    <string>kn_nn_ottu2</string>
    <string>kn_nn_u</string>
    <string>kn_nn_uni1026</string>
    <string>kn_nn_v</string>
    <string>kn_ny_uniA733</string>
    <string>kn_ny_uniA737</string>
    <string>kn_ny_e</string>
    <string>kn_ny_i</string>
    <string>kn_ny_o</string>
    <string>kn_ny_ottu</string>
    <string>kn_ny_ottu2</string>
    <string>kn_ny_u</string>
    <string>kn_ny_uni1026</string>
    <string>kn_ny_v</string>
    <string>kn_p_uniA733</string>
    <string>kn_p_uniA737</string>
    <string>kn_p_e</string>
    <string>kn_p_i</string>
    <string>kn_p_o</string>
    <string>kn_p_ottu</string>
    <string>kn_p_ottu2</string>
    <string>kn_p_u</string>
    <string>kn_p_uni1026</string>
    <string>kn_p_v</string>
    <string>kn_ph_uniA733</string>
    <string>kn_ph_uniA737</string>
    <string>kn_ph_e</string>
    <string>kn_ph_i</string>
    <string>kn_ph_o</string>
    <string>kn_ph_ottu</string>
    <string>kn_ph_ottu2</string>
    <string>kn_ph_u</string>
    <string>kn_ph_uni1026</string>
    <string>kn_ph_v</string>
    <string>kn_r_uniA733</string>
    <string>kn_r_uniA737</string>
    <string>kn_r_e</string>
    <string>kn_r_i</string>
    <string>kn_r_o</string>
    <string>kn_r_ottu</string>
    <string>kn_r_ottu2</string>
    <string>kn_r_u</string>
    <string>kn_r_uni1026</string>
    <string>kn_r_v</string>
    <string>kn_s_uniA733</string>
    <string>kn_s_uniA737</string>
    <string>kn_s_e</string>
    <string>kn_s_i</string>
    <string>kn_s_o</string>
    <string>kn_s_ottu</string>
    <string>kn_s_ottu2</string>
    <string>kn_s_u</string>
    <string>kn_s_uni1026</string>
    <string>kn_s_v</string>
    <string>kn_sh_uniA733</string>
    <string>kn_sh_uniA737</string>
    <string>kn_sh_e</string>
    <string>kn_sh_i</string>
    <string>kn_sh_o</string>
    <string>kn_sh_ottu</string>
    <string>kn_sh_ottu2</string>
    <string>kn_sh_u</string>
    <string>kn_sh_uni1026</string>
    <string>kn_sh_v</string>
    <string>kn_ss_uniA733</string>
    <string>kn_ss_uniA737</string>
    <string>kn_ss_e</string>
    <string>kn_ss_i</string>
    <string>kn_ss_o</string>
    <string>kn_ss_ottu</string>
    <string>kn_ss_ottu2</string>
    <string>kn_ss_u</string>
    <string>kn_ss_uni1026</string>
    <string>kn_ss_v</string>
    <string>kn_t_uniA733</string>
    <string>kn_t_uniA737</string>
    <string>kn_t_e</string>
    <string>kn_t_i</string>
    <string>kn_t_o</string>
    <string>kn_t_ottu</string>
    <string>kn_t_ottu2</string>
    <string>kn_t_u</string>
    <string>kn_t_uni1026</string>
    <string>kn_t_v</string>
    <string>kn_th_uniA733</string>
    <string>kn_th_uniA737</string>
    <string>kn_th_e</string>
    <string>kn_th_i</string>
    <string>kn_th_o</string>
    <string>kn_th_ottu</string>
    <string>kn_th_ottu2</string>
    <string>kn_th_u</string>
    <string>kn_th_uni1026</string>
    <string>kn_th_v</string>
    <string>kn_tt_uniA733</string>
    <string>kn_tt_uniA737</string>
    <string>kn_tt_e</string>
    <string>kn_tt_i</string>
    <string>kn_tt_o</string>
    <string>kn_tt_ottu</string>
    <string>kn_tt_ottu2</string>
    <string>kn_tt_u</string>
    <string>kn_tt_uni1026</string>
    <string>kn_tt_v</string>
    <string>kn_tth_uniA733</string>
    <string>kn_tth_uniA737</string>
    <string>kn_tth_e</string>
    <string>kn_tth_i</string>
    <string>kn_tth_o</string>
    <string>kn_tth_ottu</string>
    <string>kn_tth_ottu2</string>
    <string>kn_tth_u</string>
    <string>kn_tth_uni1026</string>
    <string>kn_tth_v</string>
    <string>kn_v_uniA733</string>
    <string>kn_v_uniA737</string>
    <string>kn_v_e</string>
    <string>kn_v_i</string>
    <string>kn_v_o</string>
    <string>kn_v_ottu</string>
    <string>kn_v_ottu2</string>
    <string>kn_v_u</string>
    <string>kn_v_uni1026</string>
    <string>kn_v_v</string>
    <string>kn_y_uniA733</string>
    <string>kn_y_uniA737</string>
    <string>kn_y_e</string>
    <string>kn_y_i</string>
    <string>kn_y_o</string>
    <string>kn_y_ottu</string>
    <string>kn_y_ottu2</string>
    <string>kn_y_u</string>
    <string>kn_y_uni1026</string>
    <string>kn_y_v</string>
  </array>
</dict>
</plist>
