<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Aogonek</key>
  <string>A_ogonek.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Cacute</key>
  <string>C_acute.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>Cdotaccent</key>
  <string>C_dotaccent.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Dcaron</key>
  <string>D_caron.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecaron</key>
  <string>E_caron.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Edotaccent</key>
  <string>E_dotaccent.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eogonek</key>
  <string>E_ogonek.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gcircumflex</key>
  <string>G_circumflex.glif</string>
  <key>Gdotaccent</key>
  <string>G_dotaccent.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>Hcircumflex</key>
  <string>H_circumflex.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>IJ</key>
  <string>I_J_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Idotaccent</key>
  <string>I_dotaccent.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>Iogonek</key>
  <string>I_ogonek.glif</string>
  <key>Itilde</key>
  <string>I_tilde.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Jcircumflex</key>
  <string>J_circumflex.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lacute</key>
  <string>L_acute.glif</string>
  <key>Lcaron</key>
  <string>L_caron.glif</string>
  <key>Ldot</key>
  <string>L_dot.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Nacute</key>
  <string>N_acute.glif</string>
  <key>Ncaron</key>
  <string>N_caron.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohungarumlaut</key>
  <string>O_hungarumlaut.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Racute</key>
  <string>R_acute.glif</string>
  <key>Rcaron</key>
  <string>R_caron.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sacute</key>
  <string>S_acute.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Scircumflex</key>
  <string>S_circumflex.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Tcaron</key>
  <string>T_caron.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Uhungarumlaut</key>
  <string>U_hungarumlaut.glif</string>
  <key>Umacron</key>
  <string>U_macron.glif</string>
  <key>Uogonek</key>
  <string>U_ogonek.glif</string>
  <key>Uring</key>
  <string>U_ring.glif</string>
  <key>Utilde</key>
  <string>U_tilde.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wcircumflex</key>
  <string>W_circumflex.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ycircumflex</key>
  <string>Y_circumflex.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zacute</key>
  <string>Z_acute.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zdotaccent</key>
  <string>Z_dotaccent.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotabove</key>
  <string>dotabove.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gcircumflex</key>
  <string>gcircumflex.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hcircumflex</key>
  <string>hcircumflex.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>ij</key>
  <string>ij.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>kn_0</key>
  <string>kn_0.glif</string>
  <key>kn_1</key>
  <string>kn_1.glif</string>
  <key>kn_2</key>
  <string>kn_2.glif</string>
  <key>kn_3</key>
  <string>kn_3.glif</string>
  <key>kn_4</key>
  <string>kn_4.glif</string>
  <key>kn_5</key>
  <string>kn_5.glif</string>
  <key>kn_6</key>
  <string>kn_6.glif</string>
  <key>kn_7</key>
  <string>kn_7.glif</string>
  <key>kn_8</key>
  <string>kn_8.glif</string>
  <key>kn_9</key>
  <string>kn_9.glif</string>
  <key>kn_Sh_v_r_uniA987</key>
  <string>kn_S_h_v_r_uniA_987.glif</string>
  <key>kn_a</key>
  <string>kn_a.glif</string>
  <key>kn_ah</key>
  <string>kn_ah.glif</string>
  <key>kn_am</key>
  <string>kn_am.glif</string>
  <key>kn_arka_ottu</key>
  <string>kn_arka_ottu.glif</string>
  <key>kn_b</key>
  <string>kn_b.glif</string>
  <key>kn_b_e</key>
  <string>kn_b_e.glif</string>
  <key>kn_b_i</key>
  <string>kn_b_i.glif</string>
  <key>kn_b_o</key>
  <string>kn_b_o.glif</string>
  <key>kn_b_ottu</key>
  <string>kn_b_ottu.glif</string>
  <key>kn_b_ottu2</key>
  <string>kn_b_ottu2.glif</string>
  <key>kn_b_u</key>
  <string>kn_b_u.glif</string>
  <key>kn_b_uni1026</key>
  <string>kn_b_uni1026.glif</string>
  <key>kn_b_uniA733</key>
  <string>kn_b_uniA_733.glif</string>
  <key>kn_b_uniA737</key>
  <string>kn_b_uniA_737.glif</string>
  <key>kn_b_v</key>
  <string>kn_b_v.glif</string>
  <key>kn_bh</key>
  <string>kn_bh.glif</string>
  <key>kn_bh_e</key>
  <string>kn_bh_e.glif</string>
  <key>kn_bh_i</key>
  <string>kn_bh_i.glif</string>
  <key>kn_bh_o</key>
  <string>kn_bh_o.glif</string>
  <key>kn_bh_ottu</key>
  <string>kn_bh_ottu.glif</string>
  <key>kn_bh_ottu2</key>
  <string>kn_bh_ottu2.glif</string>
  <key>kn_bh_u</key>
  <string>kn_bh_u.glif</string>
  <key>kn_bh_uni1026</key>
  <string>kn_bh_uni1026.glif</string>
  <key>kn_bh_uniA733</key>
  <string>kn_bh_uniA_733.glif</string>
  <key>kn_bh_uniA737</key>
  <string>kn_bh_uniA_737.glif</string>
  <key>kn_bh_v</key>
  <string>kn_bh_v.glif</string>
  <key>kn_c</key>
  <string>kn_c.glif</string>
  <key>kn_c_e</key>
  <string>kn_c_e.glif</string>
  <key>kn_c_i</key>
  <string>kn_c_i.glif</string>
  <key>kn_c_o</key>
  <string>kn_c_o.glif</string>
  <key>kn_c_ottu</key>
  <string>kn_c_ottu.glif</string>
  <key>kn_c_ottu2</key>
  <string>kn_c_ottu2.glif</string>
  <key>kn_c_u</key>
  <string>kn_c_u.glif</string>
  <key>kn_c_uni1026</key>
  <string>kn_c_uni1026.glif</string>
  <key>kn_c_uniA733</key>
  <string>kn_c_uniA_733.glif</string>
  <key>kn_c_uniA737</key>
  <string>kn_c_uniA_737.glif</string>
  <key>kn_c_v</key>
  <string>kn_c_v.glif</string>
  <key>kn_ch</key>
  <string>kn_ch.glif</string>
  <key>kn_ch_e</key>
  <string>kn_ch_e.glif</string>
  <key>kn_ch_i</key>
  <string>kn_ch_i.glif</string>
  <key>kn_ch_o</key>
  <string>kn_ch_o.glif</string>
  <key>kn_ch_ottu</key>
  <string>kn_ch_ottu.glif</string>
  <key>kn_ch_ottu2</key>
  <string>kn_ch_ottu2.glif</string>
  <key>kn_ch_u</key>
  <string>kn_ch_u.glif</string>
  <key>kn_ch_uni1026</key>
  <string>kn_ch_uni1026.glif</string>
  <key>kn_ch_uniA733</key>
  <string>kn_ch_uniA_733.glif</string>
  <key>kn_ch_uniA737</key>
  <string>kn_ch_uniA_737.glif</string>
  <key>kn_ch_v</key>
  <string>kn_ch_v.glif</string>
  <key>kn_d</key>
  <string>kn_d.glif</string>
  <key>kn_d_e</key>
  <string>kn_d_e.glif</string>
  <key>kn_d_i</key>
  <string>kn_d_i.glif</string>
  <key>kn_d_o</key>
  <string>kn_d_o.glif</string>
  <key>kn_d_ottu</key>
  <string>kn_d_ottu.glif</string>
  <key>kn_d_ottu2</key>
  <string>kn_d_ottu2.glif</string>
  <key>kn_d_u</key>
  <string>kn_d_u.glif</string>
  <key>kn_d_uni1026</key>
  <string>kn_d_uni1026.glif</string>
  <key>kn_d_uniA733</key>
  <string>kn_d_uniA_733.glif</string>
  <key>kn_d_uniA737</key>
  <string>kn_d_uniA_737.glif</string>
  <key>kn_d_v</key>
  <string>kn_d_v.glif</string>
  <key>kn_dd</key>
  <string>kn_dd.glif</string>
  <key>kn_dd_e</key>
  <string>kn_dd_e.glif</string>
  <key>kn_dd_i</key>
  <string>kn_dd_i.glif</string>
  <key>kn_dd_o</key>
  <string>kn_dd_o.glif</string>
  <key>kn_dd_ottu</key>
  <string>kn_dd_ottu.glif</string>
  <key>kn_dd_ottu2</key>
  <string>kn_dd_ottu2.glif</string>
  <key>kn_dd_u</key>
  <string>kn_dd_u.glif</string>
  <key>kn_dd_uni1026</key>
  <string>kn_dd_uni1026.glif</string>
  <key>kn_dd_uniA733</key>
  <string>kn_dd_uniA_733.glif</string>
  <key>kn_dd_uniA737</key>
  <string>kn_dd_uniA_737.glif</string>
  <key>kn_dd_v</key>
  <string>kn_dd_v.glif</string>
  <key>kn_ddh</key>
  <string>kn_ddh.glif</string>
  <key>kn_ddh_e</key>
  <string>kn_ddh_e.glif</string>
  <key>kn_ddh_i</key>
  <string>kn_ddh_i.glif</string>
  <key>kn_ddh_o</key>
  <string>kn_ddh_o.glif</string>
  <key>kn_ddh_ottu</key>
  <string>kn_ddh_ottu.glif</string>
  <key>kn_ddh_ottu2</key>
  <string>kn_ddh_ottu2.glif</string>
  <key>kn_ddh_u</key>
  <string>kn_ddh_u.glif</string>
  <key>kn_ddh_uni1026</key>
  <string>kn_ddh_uni1026.glif</string>
  <key>kn_ddh_uniA733</key>
  <string>kn_ddh_uniA_733.glif</string>
  <key>kn_ddh_uniA737</key>
  <string>kn_ddh_uniA_737.glif</string>
  <key>kn_ddh_v</key>
  <string>kn_ddh_v.glif</string>
  <key>kn_dh</key>
  <string>kn_dh.glif</string>
  <key>kn_dh_e</key>
  <string>kn_dh_e.glif</string>
  <key>kn_dh_i</key>
  <string>kn_dh_i.glif</string>
  <key>kn_dh_o</key>
  <string>kn_dh_o.glif</string>
  <key>kn_dh_ottu</key>
  <string>kn_dh_ottu.glif</string>
  <key>kn_dh_ottu2</key>
  <string>kn_dh_ottu2.glif</string>
  <key>kn_dh_u</key>
  <string>kn_dh_u.glif</string>
  <key>kn_dh_uni1026</key>
  <string>kn_dh_uni1026.glif</string>
  <key>kn_dh_uniA733</key>
  <string>kn_dh_uniA_733.glif</string>
  <key>kn_dh_uniA737</key>
  <string>kn_dh_uniA_737.glif</string>
  <key>kn_dh_v</key>
  <string>kn_dh_v.glif</string>
  <key>kn_dherge_e</key>
  <string>kn_dherge_e.glif</string>
  <key>kn_dherge_uniA98D</key>
  <string>kn_dherge_uniA_98D_.glif</string>
  <key>kn_e</key>
  <string>kn_e.glif</string>
  <key>kn_ee</key>
  <string>kn_ee.glif</string>
  <key>kn_g</key>
  <string>kn_g.glif</string>
  <key>kn_g_e</key>
  <string>kn_g_e.glif</string>
  <key>kn_g_i</key>
  <string>kn_g_i.glif</string>
  <key>kn_g_o</key>
  <string>kn_g_o.glif</string>
  <key>kn_g_ottu</key>
  <string>kn_g_ottu.glif</string>
  <key>kn_g_ottu2</key>
  <string>kn_g_ottu2.glif</string>
  <key>kn_g_u</key>
  <string>kn_g_u.glif</string>
  <key>kn_g_uni1026</key>
  <string>kn_g_uni1026.glif</string>
  <key>kn_g_uniA733</key>
  <string>kn_g_uniA_733.glif</string>
  <key>kn_g_uniA737</key>
  <string>kn_g_uniA_737.glif</string>
  <key>kn_g_v</key>
  <string>kn_g_v.glif</string>
  <key>kn_gh</key>
  <string>kn_gh.glif</string>
  <key>kn_gh_e</key>
  <string>kn_gh_e.glif</string>
  <key>kn_gh_i</key>
  <string>kn_gh_i.glif</string>
  <key>kn_gh_o</key>
  <string>kn_gh_o.glif</string>
  <key>kn_gh_ottu</key>
  <string>kn_gh_ottu.glif</string>
  <key>kn_gh_ottu2</key>
  <string>kn_gh_ottu2.glif</string>
  <key>kn_gh_u</key>
  <string>kn_gh_u.glif</string>
  <key>kn_gh_uni1026</key>
  <string>kn_gh_uni1026.glif</string>
  <key>kn_gh_uniA733</key>
  <string>kn_gh_uniA_733.glif</string>
  <key>kn_gh_uniA737</key>
  <string>kn_gh_uniA_737.glif</string>
  <key>kn_gh_v</key>
  <string>kn_gh_v.glif</string>
  <key>kn_h</key>
  <string>kn_h.glif</string>
  <key>kn_h_e</key>
  <string>kn_h_e.glif</string>
  <key>kn_h_i</key>
  <string>kn_h_i.glif</string>
  <key>kn_h_o</key>
  <string>kn_h_o.glif</string>
  <key>kn_h_ottu</key>
  <string>kn_h_ottu.glif</string>
  <key>kn_h_ottu2</key>
  <string>kn_h_ottu2.glif</string>
  <key>kn_h_u</key>
  <string>kn_h_u.glif</string>
  <key>kn_h_uni1026</key>
  <string>kn_h_uni1026.glif</string>
  <key>kn_h_uniA733</key>
  <string>kn_h_uniA_733.glif</string>
  <key>kn_h_uniA737</key>
  <string>kn_h_uniA_737.glif</string>
  <key>kn_h_v</key>
  <string>kn_h_v.glif</string>
  <key>kn_i</key>
  <string>kn_i.glif</string>
  <key>kn_j</key>
  <string>kn_j.glif</string>
  <key>kn_j_e</key>
  <string>kn_j_e.glif</string>
  <key>kn_j_i</key>
  <string>kn_j_i.glif</string>
  <key>kn_j_ny</key>
  <string>kn_j_ny.glif</string>
  <key>kn_j_ny_e</key>
  <string>kn_j_ny_e.glif</string>
  <key>kn_j_ny_i</key>
  <string>kn_j_ny_i.glif</string>
  <key>kn_j_ny_o</key>
  <string>kn_j_ny_o.glif</string>
  <key>kn_j_ny_u</key>
  <string>kn_j_ny_u.glif</string>
  <key>kn_j_ny_uni1026</key>
  <string>kn_j_ny_uni1026.glif</string>
  <key>kn_j_ny_uniA733</key>
  <string>kn_j_ny_uniA_733.glif</string>
  <key>kn_j_ny_uniA737</key>
  <string>kn_j_ny_uniA_737.glif</string>
  <key>kn_j_ny_v</key>
  <string>kn_j_ny_v.glif</string>
  <key>kn_j_o</key>
  <string>kn_j_o.glif</string>
  <key>kn_j_ottu</key>
  <string>kn_j_ottu.glif</string>
  <key>kn_j_ottu2</key>
  <string>kn_j_ottu2.glif</string>
  <key>kn_j_u</key>
  <string>kn_j_u.glif</string>
  <key>kn_j_uni1026</key>
  <string>kn_j_uni1026.glif</string>
  <key>kn_j_uniA733</key>
  <string>kn_j_uniA_733.glif</string>
  <key>kn_j_uniA737</key>
  <string>kn_j_uniA_737.glif</string>
  <key>kn_j_v</key>
  <string>kn_j_v.glif</string>
  <key>kn_jh</key>
  <string>kn_jh.glif</string>
  <key>kn_jh_e</key>
  <string>kn_jh_e.glif</string>
  <key>kn_jh_i</key>
  <string>kn_jh_i.glif</string>
  <key>kn_jh_o</key>
  <string>kn_jh_o.glif</string>
  <key>kn_jh_ottu</key>
  <string>kn_jh_ottu.glif</string>
  <key>kn_jh_ottu2</key>
  <string>kn_jh_ottu2.glif</string>
  <key>kn_jh_u</key>
  <string>kn_jh_u.glif</string>
  <key>kn_jh_uni1026</key>
  <string>kn_jh_uni1026.glif</string>
  <key>kn_jh_uniA733</key>
  <string>kn_jh_uniA_733.glif</string>
  <key>kn_jh_uniA737</key>
  <string>kn_jh_uniA_737.glif</string>
  <key>kn_jh_v</key>
  <string>kn_jh_v.glif</string>
  <key>kn_k</key>
  <string>kn_k.glif</string>
  <key>kn_k_e</key>
  <string>kn_k_e.glif</string>
  <key>kn_k_i</key>
  <string>kn_k_i.glif</string>
  <key>kn_k_o</key>
  <string>kn_k_o.glif</string>
  <key>kn_k_ottu</key>
  <string>kn_k_ottu.glif</string>
  <key>kn_k_ottu2</key>
  <string>kn_k_ottu2.glif</string>
  <key>kn_k_ss</key>
  <string>kn_k_ss.glif</string>
  <key>kn_k_ss_e</key>
  <string>kn_k_ss_e.glif</string>
  <key>kn_k_ss_i</key>
  <string>kn_k_ss_i.glif</string>
  <key>kn_k_ss_o</key>
  <string>kn_k_ss_o.glif</string>
  <key>kn_k_ss_u</key>
  <string>kn_k_ss_u.glif</string>
  <key>kn_k_ss_uni1026</key>
  <string>kn_k_ss_uni1026.glif</string>
  <key>kn_k_ss_uniA733</key>
  <string>kn_k_ss_uniA_733.glif</string>
  <key>kn_k_ss_uniA737</key>
  <string>kn_k_ss_uniA_737.glif</string>
  <key>kn_k_ss_v</key>
  <string>kn_k_ss_v.glif</string>
  <key>kn_k_u</key>
  <string>kn_k_u.glif</string>
  <key>kn_k_uni1026</key>
  <string>kn_k_uni1026.glif</string>
  <key>kn_k_uniA733</key>
  <string>kn_k_uniA_733.glif</string>
  <key>kn_k_uniA737</key>
  <string>kn_k_uniA_737.glif</string>
  <key>kn_k_v</key>
  <string>kn_k_v.glif</string>
  <key>kn_kh</key>
  <string>kn_kh.glif</string>
  <key>kn_kh_e</key>
  <string>kn_kh_e.glif</string>
  <key>kn_kh_i</key>
  <string>kn_kh_i.glif</string>
  <key>kn_kh_o</key>
  <string>kn_kh_o.glif</string>
  <key>kn_kh_ottu</key>
  <string>kn_kh_ottu.glif</string>
  <key>kn_kh_ottu2</key>
  <string>kn_kh_ottu2.glif</string>
  <key>kn_kh_u</key>
  <string>kn_kh_u.glif</string>
  <key>kn_kh_uni1026</key>
  <string>kn_kh_uni1026.glif</string>
  <key>kn_kh_uniA733</key>
  <string>kn_kh_uniA_733.glif</string>
  <key>kn_kh_uniA737</key>
  <string>kn_kh_uniA_737.glif</string>
  <key>kn_kh_v</key>
  <string>kn_kh_v.glif</string>
  <key>kn_l</key>
  <string>kn_l.glif</string>
  <key>kn_l_e</key>
  <string>kn_l_e.glif</string>
  <key>kn_l_i</key>
  <string>kn_l_i.glif</string>
  <key>kn_l_o</key>
  <string>kn_l_o.glif</string>
  <key>kn_l_ottu</key>
  <string>kn_l_ottu.glif</string>
  <key>kn_l_ottu2</key>
  <string>kn_l_ottu2.glif</string>
  <key>kn_l_u</key>
  <string>kn_l_u.glif</string>
  <key>kn_l_uni1026</key>
  <string>kn_l_uni1026.glif</string>
  <key>kn_l_uniA733</key>
  <string>kn_l_uniA_733.glif</string>
  <key>kn_l_uniA737</key>
  <string>kn_l_uniA_737.glif</string>
  <key>kn_l_v</key>
  <string>kn_l_v.glif</string>
  <key>kn_ll</key>
  <string>kn_ll.glif</string>
  <key>kn_ll_e</key>
  <string>kn_ll_e.glif</string>
  <key>kn_ll_i</key>
  <string>kn_ll_i.glif</string>
  <key>kn_ll_o</key>
  <string>kn_ll_o.glif</string>
  <key>kn_ll_ottu</key>
  <string>kn_ll_ottu.glif</string>
  <key>kn_ll_ottu2</key>
  <string>kn_ll_ottu2.glif</string>
  <key>kn_ll_u</key>
  <string>kn_ll_u.glif</string>
  <key>kn_ll_uni1026</key>
  <string>kn_ll_uni1026.glif</string>
  <key>kn_ll_uniA733</key>
  <string>kn_ll_uniA_733.glif</string>
  <key>kn_ll_uniA737</key>
  <string>kn_ll_uniA_737.glif</string>
  <key>kn_ll_v</key>
  <string>kn_ll_v.glif</string>
  <key>kn_m</key>
  <string>kn_m.glif</string>
  <key>kn_m_e</key>
  <string>kn_m_e.glif</string>
  <key>kn_m_i</key>
  <string>kn_m_i.glif</string>
  <key>kn_m_o</key>
  <string>kn_m_o.glif</string>
  <key>kn_m_ottu</key>
  <string>kn_m_ottu.glif</string>
  <key>kn_m_ottu2</key>
  <string>kn_m_ottu2.glif</string>
  <key>kn_m_u</key>
  <string>kn_m_u.glif</string>
  <key>kn_m_uni1026</key>
  <string>kn_m_uni1026.glif</string>
  <key>kn_m_uniA733</key>
  <string>kn_m_uniA_733.glif</string>
  <key>kn_m_uniA737</key>
  <string>kn_m_uniA_737.glif</string>
  <key>kn_m_v</key>
  <string>kn_m_v.glif</string>
  <key>kn_n</key>
  <string>kn_n.glif</string>
  <key>kn_n_e</key>
  <string>kn_n_e.glif</string>
  <key>kn_n_i</key>
  <string>kn_n_i.glif</string>
  <key>kn_n_o</key>
  <string>kn_n_o.glif</string>
  <key>kn_n_ottu</key>
  <string>kn_n_ottu.glif</string>
  <key>kn_n_ottu2</key>
  <string>kn_n_ottu2.glif</string>
  <key>kn_n_u</key>
  <string>kn_n_u.glif</string>
  <key>kn_n_uni1026</key>
  <string>kn_n_uni1026.glif</string>
  <key>kn_n_uniA733</key>
  <string>kn_n_uniA_733.glif</string>
  <key>kn_n_uniA737</key>
  <string>kn_n_uniA_737.glif</string>
  <key>kn_n_v</key>
  <string>kn_n_v.glif</string>
  <key>kn_nn</key>
  <string>kn_nn.glif</string>
  <key>kn_nn_e</key>
  <string>kn_nn_e.glif</string>
  <key>kn_nn_i</key>
  <string>kn_nn_i.glif</string>
  <key>kn_nn_o</key>
  <string>kn_nn_o.glif</string>
  <key>kn_nn_ottu</key>
  <string>kn_nn_ottu.glif</string>
  <key>kn_nn_ottu2</key>
  <string>kn_nn_ottu2.glif</string>
  <key>kn_nn_u</key>
  <string>kn_nn_u.glif</string>
  <key>kn_nn_uni1026</key>
  <string>kn_nn_uni1026.glif</string>
  <key>kn_nn_uniA733</key>
  <string>kn_nn_uniA_733.glif</string>
  <key>kn_nn_uniA737</key>
  <string>kn_nn_uniA_737.glif</string>
  <key>kn_nn_v</key>
  <string>kn_nn_v.glif</string>
  <key>kn_ny</key>
  <string>kn_ny.glif</string>
  <key>kn_ny_e</key>
  <string>kn_ny_e.glif</string>
  <key>kn_ny_i</key>
  <string>kn_ny_i.glif</string>
  <key>kn_ny_o</key>
  <string>kn_ny_o.glif</string>
  <key>kn_ny_ottu</key>
  <string>kn_ny_ottu.glif</string>
  <key>kn_ny_ottu2</key>
  <string>kn_ny_ottu2.glif</string>
  <key>kn_ny_u</key>
  <string>kn_ny_u.glif</string>
  <key>kn_ny_uni1026</key>
  <string>kn_ny_uni1026.glif</string>
  <key>kn_ny_uniA733</key>
  <string>kn_ny_uniA_733.glif</string>
  <key>kn_ny_uniA737</key>
  <string>kn_ny_uniA_737.glif</string>
  <key>kn_ny_v</key>
  <string>kn_ny_v.glif</string>
  <key>kn_o</key>
  <string>kn_o.glif</string>
  <key>kn_p</key>
  <string>kn_p.glif</string>
  <key>kn_p_e</key>
  <string>kn_p_e.glif</string>
  <key>kn_p_i</key>
  <string>kn_p_i.glif</string>
  <key>kn_p_o</key>
  <string>kn_p_o.glif</string>
  <key>kn_p_ottu</key>
  <string>kn_p_ottu.glif</string>
  <key>kn_p_ottu2</key>
  <string>kn_p_ottu2.glif</string>
  <key>kn_p_u</key>
  <string>kn_p_u.glif</string>
  <key>kn_p_uni1026</key>
  <string>kn_p_uni1026.glif</string>
  <key>kn_p_uniA733</key>
  <string>kn_p_uniA_733.glif</string>
  <key>kn_p_uniA737</key>
  <string>kn_p_uniA_737.glif</string>
  <key>kn_p_v</key>
  <string>kn_p_v.glif</string>
  <key>kn_ph</key>
  <string>kn_ph.glif</string>
  <key>kn_ph_e</key>
  <string>kn_ph_e.glif</string>
  <key>kn_ph_i</key>
  <string>kn_ph_i.glif</string>
  <key>kn_ph_o</key>
  <string>kn_ph_o.glif</string>
  <key>kn_ph_ottu</key>
  <string>kn_ph_ottu.glif</string>
  <key>kn_ph_ottu2</key>
  <string>kn_ph_ottu2.glif</string>
  <key>kn_ph_u</key>
  <string>kn_ph_u.glif</string>
  <key>kn_ph_uni1026</key>
  <string>kn_ph_uni1026.glif</string>
  <key>kn_ph_uniA733</key>
  <string>kn_ph_uniA_733.glif</string>
  <key>kn_ph_uniA737</key>
  <string>kn_ph_uniA_737.glif</string>
  <key>kn_ph_v</key>
  <string>kn_ph_v.glif</string>
  <key>kn_r</key>
  <string>kn_r.glif</string>
  <key>kn_r_e</key>
  <string>kn_r_e.glif</string>
  <key>kn_r_ext</key>
  <string>kn_r_ext.glif</string>
  <key>kn_r_i</key>
  <string>kn_r_i.glif</string>
  <key>kn_r_o</key>
  <string>kn_r_o.glif</string>
  <key>kn_r_ottu</key>
  <string>kn_r_ottu.glif</string>
  <key>kn_r_ottu2</key>
  <string>kn_r_ottu2.glif</string>
  <key>kn_r_u</key>
  <string>kn_r_u.glif</string>
  <key>kn_r_uni1026</key>
  <string>kn_r_uni1026.glif</string>
  <key>kn_r_uniA733</key>
  <string>kn_r_uniA_733.glif</string>
  <key>kn_r_uniA737</key>
  <string>kn_r_uniA_737.glif</string>
  <key>kn_r_v</key>
  <string>kn_r_v.glif</string>
  <key>kn_rr_ext</key>
  <string>kn_rr_ext.glif</string>
  <key>kn_s</key>
  <string>kn_s.glif</string>
  <key>kn_s_e</key>
  <string>kn_s_e.glif</string>
  <key>kn_s_i</key>
  <string>kn_s_i.glif</string>
  <key>kn_s_o</key>
  <string>kn_s_o.glif</string>
  <key>kn_s_ottu</key>
  <string>kn_s_ottu.glif</string>
  <key>kn_s_ottu2</key>
  <string>kn_s_ottu2.glif</string>
  <key>kn_s_u</key>
  <string>kn_s_u.glif</string>
  <key>kn_s_uni1026</key>
  <string>kn_s_uni1026.glif</string>
  <key>kn_s_uniA733</key>
  <string>kn_s_uniA_733.glif</string>
  <key>kn_s_uniA737</key>
  <string>kn_s_uniA_737.glif</string>
  <key>kn_s_v</key>
  <string>kn_s_v.glif</string>
  <key>kn_sh</key>
  <string>kn_sh.glif</string>
  <key>kn_sh_e</key>
  <string>kn_sh_e.glif</string>
  <key>kn_sh_i</key>
  <string>kn_sh_i.glif</string>
  <key>kn_sh_o</key>
  <string>kn_sh_o.glif</string>
  <key>kn_sh_ottu</key>
  <string>kn_sh_ottu.glif</string>
  <key>kn_sh_ottu2</key>
  <string>kn_sh_ottu2.glif</string>
  <key>kn_sh_u</key>
  <string>kn_sh_u.glif</string>
  <key>kn_sh_uni1026</key>
  <string>kn_sh_uni1026.glif</string>
  <key>kn_sh_uniA733</key>
  <string>kn_sh_uniA_733.glif</string>
  <key>kn_sh_uniA737</key>
  <string>kn_sh_uniA_737.glif</string>
  <key>kn_sh_v</key>
  <string>kn_sh_v.glif</string>
  <key>kn_ss</key>
  <string>kn_ss.glif</string>
  <key>kn_ss_e</key>
  <string>kn_ss_e.glif</string>
  <key>kn_ss_i</key>
  <string>kn_ss_i.glif</string>
  <key>kn_ss_o</key>
  <string>kn_ss_o.glif</string>
  <key>kn_ss_ottu</key>
  <string>kn_ss_ottu.glif</string>
  <key>kn_ss_ottu2</key>
  <string>kn_ss_ottu2.glif</string>
  <key>kn_ss_u</key>
  <string>kn_ss_u.glif</string>
  <key>kn_ss_uni1026</key>
  <string>kn_ss_uni1026.glif</string>
  <key>kn_ss_uniA733</key>
  <string>kn_ss_uniA_733.glif</string>
  <key>kn_ss_uniA737</key>
  <string>kn_ss_uniA_737.glif</string>
  <key>kn_ss_v</key>
  <string>kn_ss_v.glif</string>
  <key>kn_t</key>
  <string>kn_t.glif</string>
  <key>kn_t_e</key>
  <string>kn_t_e.glif</string>
  <key>kn_t_i</key>
  <string>kn_t_i.glif</string>
  <key>kn_t_o</key>
  <string>kn_t_o.glif</string>
  <key>kn_t_ottu</key>
  <string>kn_t_ottu.glif</string>
  <key>kn_t_ottu2</key>
  <string>kn_t_ottu2.glif</string>
  <key>kn_t_u</key>
  <string>kn_t_u.glif</string>
  <key>kn_t_uni1026</key>
  <string>kn_t_uni1026.glif</string>
  <key>kn_t_uniA733</key>
  <string>kn_t_uniA_733.glif</string>
  <key>kn_t_uniA737</key>
  <string>kn_t_uniA_737.glif</string>
  <key>kn_t_v</key>
  <string>kn_t_v.glif</string>
  <key>kn_th</key>
  <string>kn_th.glif</string>
  <key>kn_th_e</key>
  <string>kn_th_e.glif</string>
  <key>kn_th_i</key>
  <string>kn_th_i.glif</string>
  <key>kn_th_o</key>
  <string>kn_th_o.glif</string>
  <key>kn_th_ottu</key>
  <string>kn_th_ottu.glif</string>
  <key>kn_th_ottu2</key>
  <string>kn_th_ottu2.glif</string>
  <key>kn_th_u</key>
  <string>kn_th_u.glif</string>
  <key>kn_th_uni1026</key>
  <string>kn_th_uni1026.glif</string>
  <key>kn_th_uniA733</key>
  <string>kn_th_uniA_733.glif</string>
  <key>kn_th_uniA737</key>
  <string>kn_th_uniA_737.glif</string>
  <key>kn_th_v</key>
  <string>kn_th_v.glif</string>
  <key>kn_tt</key>
  <string>kn_tt.glif</string>
  <key>kn_tt_e</key>
  <string>kn_tt_e.glif</string>
  <key>kn_tt_i</key>
  <string>kn_tt_i.glif</string>
  <key>kn_tt_o</key>
  <string>kn_tt_o.glif</string>
  <key>kn_tt_ottu</key>
  <string>kn_tt_ottu.glif</string>
  <key>kn_tt_ottu2</key>
  <string>kn_tt_ottu2.glif</string>
  <key>kn_tt_u</key>
  <string>kn_tt_u.glif</string>
  <key>kn_tt_uni1026</key>
  <string>kn_tt_uni1026.glif</string>
  <key>kn_tt_uniA733</key>
  <string>kn_tt_uniA_733.glif</string>
  <key>kn_tt_uniA737</key>
  <string>kn_tt_uniA_737.glif</string>
  <key>kn_tt_v</key>
  <string>kn_tt_v.glif</string>
  <key>kn_tth</key>
  <string>kn_tth.glif</string>
  <key>kn_tth_e</key>
  <string>kn_tth_e.glif</string>
  <key>kn_tth_i</key>
  <string>kn_tth_i.glif</string>
  <key>kn_tth_o</key>
  <string>kn_tth_o.glif</string>
  <key>kn_tth_ottu</key>
  <string>kn_tth_ottu.glif</string>
  <key>kn_tth_ottu2</key>
  <string>kn_tth_ottu2.glif</string>
  <key>kn_tth_u</key>
  <string>kn_tth_u.glif</string>
  <key>kn_tth_uni1026</key>
  <string>kn_tth_uni1026.glif</string>
  <key>kn_tth_uniA733</key>
  <string>kn_tth_uniA_733.glif</string>
  <key>kn_tth_uniA737</key>
  <string>kn_tth_uniA_737.glif</string>
  <key>kn_tth_v</key>
  <string>kn_tth_v.glif</string>
  <key>kn_u</key>
  <string>kn_u.glif</string>
  <key>kn_u11235</key>
  <string>kn_u11235.glif</string>
  <key>kn_uni06AD</key>
  <string>kn_uni06A_D_.glif</string>
  <key>kn_uni06AD_e</key>
  <string>kn_uni06A_D__e.glif</string>
  <key>kn_uni06AD_i</key>
  <string>kn_uni06A_D__i.glif</string>
  <key>kn_uni06AD_o</key>
  <string>kn_uni06A_D__o.glif</string>
  <key>kn_uni06AD_ottu</key>
  <string>kn_uni06A_D__ottu.glif</string>
  <key>kn_uni06AD_ottu2</key>
  <string>kn_uni06A_D__ottu2.glif</string>
  <key>kn_uni06AD_u</key>
  <string>kn_uni06A_D__u.glif</string>
  <key>kn_uni06AD_uni1026</key>
  <string>kn_uni06A_D__uni1026.glif</string>
  <key>kn_uni06AD_uniA733</key>
  <string>kn_uni06A_D__uniA_733.glif</string>
  <key>kn_uni06AD_uniA737</key>
  <string>kn_uni06A_D__uniA_737.glif</string>
  <key>kn_uni06AD_v</key>
  <string>kn_uni06A_D__v.glif</string>
  <key>kn_uni1026</key>
  <string>kn_uni1026.glif</string>
  <key>kn_uniA733</key>
  <string>kn_uniA_733.glif</string>
  <key>kn_uniA737</key>
  <string>kn_uniA_737.glif</string>
  <key>kn_uniA74F</key>
  <string>kn_uniA_74F_.glif</string>
  <key>kn_uniA987</key>
  <string>kn_uniA_987.glif</string>
  <key>kn_uniA98D</key>
  <string>kn_uniA_98D_.glif</string>
  <key>kn_uniA9A9_e</key>
  <string>kn_uniA_9A_9_e.glif</string>
  <key>kn_uniA9A9_ee</key>
  <string>kn_uniA_9A_9_ee.glif</string>
  <key>kn_uniA9A9_i</key>
  <string>kn_uniA_9A_9_i.glif</string>
  <key>kn_uniA9A9_o</key>
  <string>kn_uniA_9A_9_o.glif</string>
  <key>kn_uniA9A9_r</key>
  <string>kn_uniA_9A_9_r.glif</string>
  <key>kn_uniA9A9_u</key>
  <string>kn_uniA_9A_9_u.glif</string>
  <key>kn_uniA9A9_uni1026</key>
  <string>kn_uniA_9A_9_uni1026.glif</string>
  <key>kn_uniA9A9_uniA733</key>
  <string>kn_uniA_9A_9_uniA_733.glif</string>
  <key>kn_uniA9A9_uniA737</key>
  <string>kn_uniA_9A_9_uniA_737.glif</string>
  <key>kn_uniA9A9_uniA74F</key>
  <string>kn_uniA_9A_9_uniA_74F_.glif</string>
  <key>kn_uniA9A9_uniA987</key>
  <string>kn_uniA_9A_9_uniA_987.glif</string>
  <key>kn_uniA9A9_uniA98D</key>
  <string>kn_uniA_9A_9_uniA_98D_.glif</string>
  <key>kn_v</key>
  <string>kn_v.glif</string>
  <key>kn_v_e</key>
  <string>kn_v_e.glif</string>
  <key>kn_v_i</key>
  <string>kn_v_i.glif</string>
  <key>kn_v_o</key>
  <string>kn_v_o.glif</string>
  <key>kn_v_ottu</key>
  <string>kn_v_ottu.glif</string>
  <key>kn_v_ottu2</key>
  <string>kn_v_ottu2.glif</string>
  <key>kn_v_u</key>
  <string>kn_v_u.glif</string>
  <key>kn_v_uni1026</key>
  <string>kn_v_uni1026.glif</string>
  <key>kn_v_uniA733</key>
  <string>kn_v_uniA_733.glif</string>
  <key>kn_v_uniA737</key>
  <string>kn_v_uniA_737.glif</string>
  <key>kn_v_v</key>
  <string>kn_v_v.glif</string>
  <key>kn_y</key>
  <string>kn_y.glif</string>
  <key>kn_y_e</key>
  <string>kn_y_e.glif</string>
  <key>kn_y_i</key>
  <string>kn_y_i.glif</string>
  <key>kn_y_o</key>
  <string>kn_y_o.glif</string>
  <key>kn_y_ottu</key>
  <string>kn_y_ottu.glif</string>
  <key>kn_y_ottu2</key>
  <string>kn_y_ottu2.glif</string>
  <key>kn_y_u</key>
  <string>kn_y_u.glif</string>
  <key>kn_y_uni1026</key>
  <string>kn_y_uni1026.glif</string>
  <key>kn_y_uniA733</key>
  <string>kn_y_uniA_733.glif</string>
  <key>kn_y_uniA737</key>
  <string>kn_y_uniA_737.glif</string>
  <key>kn_y_v</key>
  <string>kn_y_v.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>longs</key>
  <string>longs.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>napostrophe</key>
  <string>napostrophe.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ringabove</key>
  <string>ringabove.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni00B5</key>
  <string>uni00B_5.glif</string>
  <key>uni0122</key>
  <string>uni0122.glif</string>
  <key>uni0123</key>
  <string>uni0123.glif</string>
  <key>uni0136</key>
  <string>uni0136.glif</string>
  <key>uni0137</key>
  <string>uni0137.glif</string>
  <key>uni013B</key>
  <string>uni013B_.glif</string>
  <key>uni013C</key>
  <string>uni013C_.glif</string>
  <key>uni0145</key>
  <string>uni0145.glif</string>
  <key>uni0146</key>
  <string>uni0146.glif</string>
  <key>uni0156</key>
  <string>uni0156.glif</string>
  <key>uni0157</key>
  <string>uni0157.glif</string>
  <key>uni0162</key>
  <string>uni0162.glif</string>
  <key>uni0163</key>
  <string>uni0163.glif</string>
  <key>uni0218</key>
  <string>uni0218.glif</string>
  <key>uni0219</key>
  <string>uni0219.glif</string>
  <key>uni021A</key>
  <string>uni021A_.glif</string>
  <key>uni021B</key>
  <string>uni021B_.glif</string>
  <key>uni0237</key>
  <string>uni0237.glif</string>
  <key>uni0302</key>
  <string>uni0302.glif</string>
  <key>uni0308</key>
  <string>uni0308.glif</string>
  <key>uni030A</key>
  <string>uni030A_.glif</string>
  <key>uni030C</key>
  <string>uni030C_.glif</string>
  <key>uni0327</key>
  <string>uni0327.glif</string>
  <key>uni0C80</key>
  <string>uni0C_80.glif</string>
  <key>uni0C81</key>
  <string>uni0C_81.glif</string>
  <key>uni0C84</key>
  <string>uni0C_84.glif</string>
  <key>uni0C8C</key>
  <string>uni0C_8C_.glif</string>
  <key>uni0CB1</key>
  <string>uni0C_B_1.glif</string>
  <key>uni0CBC</key>
  <string>uni0C_B_C_.glif</string>
  <key>uni0CBD</key>
  <string>uni0C_B_D_.glif</string>
  <key>uni0CC4</key>
  <string>uni0C_C_4.glif</string>
  <key>uni0CDD</key>
  <string>uni0C_D_D_.glif</string>
  <key>uni0CDE</key>
  <string>uni0C_D_E_.glif</string>
  <key>uni0CE1</key>
  <string>uni0C_E_1.glif</string>
  <key>uni0CE2</key>
  <string>uni0C_E_2.glif</string>
  <key>uni0CE3</key>
  <string>uni0C_E_3.glif</string>
  <key>uni0CF1</key>
  <string>uni0C_F_1.glif</string>
  <key>uni0CF2</key>
  <string>uni0C_F_2.glif</string>
  <key>uni0CF3</key>
  <string>uni0C_F_3.glif</string>
  <key>uni20B9</key>
  <string>uni20B_9.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
